:root {
    /* Colors */
    --mainColor: #6699ff;

    /* Fonts */
    --fontPrimary: 'Open Sans', sans-serif;
    --fontLight: 'Open Sans Light', sans-serif;
}

/* Media Queries */
@custom-media --small (width >= 480px);
@custom-media --medium (width >= 600px);
@custom-media --large (width >= 900px);
@custom-media --xlarge (width >= 1200px);
