/**
 * Mixin for handling media queries (mobile first).
 * It has predefined values for frequently used dimensions.
 * If you pass custom number, it creates media query and set that number for min-width (mobile first).
 *
 * @param {String or Number} $value - You can use predefined (tablet, desktop, retina) or custom number (breakpoint).
 * @return {Media Query} Media query block
 */
@mixin breakpoint ($value) {
    @if $value == 'tablet' {
        @media only screen and (min-width: 768px) { @content; }
    }

    @else if $value == 'desktop' {
        @media only screen and (min-width: 1280px) { @content }
    }

    @else {
        @media only screen and (min-width: $value) { @content; }
    }
}

/**
 * Mixin for clearing floats
 */
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Mixin for hiding text
 * It uses text indent technique
 */
@mixin hide-text {
    text-indent: -9999em;
    overflow: hidden;
    text-align: left;
}

/**
 * Mixin for hiding element
 */
@mixin hide {
    position: absolute;
    top: -99999px;
    left: -99999px;
}

/**
 * Mixin for deleting default list styles (indent and bullets)
 */
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
