/*
|------------------------------------------------------------
| Base
|------------------------------------------------------------
*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $main-font;
    font-size: $base-font-size;
    line-height: $line-height;
}

img { max-width: 100%; }
