.posts {
    padding-top: 50px;

    .title { @include hide; }

    article {
        margin-bottom: 2.5em;
    }

    h3 {
        font-size: rem(26px);
        font-weight: normal;
        margin-bottom: 0.2em;
    }

    a {
        color: #303030;

        &:hover {
            color: $main-color;
            border: none;
        }
    }

    .external {
        margin-left: 10px;
        color: $main-color;
        vertical-align: middle;

        &:before {
            margin-right: 10px;
            content: '\2022';
        }
    }
}
