---
layout: default
---
<h2 class="visually-hidden">Articles</h2>
<div class="posts">
    {% for post in site.posts %}
        <article>
            <h3>
                <a href="{% if post.external %}{{ post.external }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" {% if post.external %} target="_blank" {% endif %}>
                    {{ post.title }}
                </a>
            </h3>
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %Y" }}</time>
            {%if post.external %}<span class="external">external</span>{% endif %}
        </article>
    {% endfor %}
</div>
