<footer class="Footer">
    <p class="Footer-copyright">Copyright &copy; Aleksandar Goševski</p>

    <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
        <h2 class="u-screenReaders">Navigation</h2>
        <ul class="Footer-navigation">
            <li class="Footer-navigationItem">
                <a href="https://github.com/goschevski" itemprop="url">Github</a>
            </li>
            <li class="Footer-navigationItem">
                <a href="/rss.xml" itemprop="url">RSS</a>
            </li>
        </ul>
    </nav>
</footer>
