<header class="Header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <div class="Header-content">
        <img class="Header-image" src="/aleksandar.png" alt="Aleksandar Goševski" width="155" height="155">
        <h1 class="Header-title" itemprop="headline"><a class="Header-link" href="https://www.goschevski.com">Aleksandar Goševski</a></h1>
        <p class="Header-description" itemprop="description">Software Developer</p>

        <ul class="Social is-centered is-visible-medium">
            <li class="Social-item is-icon"><a class="Social-github" href="https://www.github.com/goschevski/">Github</a></li>
            <li class="Social-item is-icon"><a class="Social-linkedin" href="https://www.linkedin.com/in/goschevski/">Linkedin</a></li>
            <li class="Social-item is-icon"><a class="Social-rss" href="/rss.xml">RSS</a></li>
        </ul>
    </div>

    <div class="Header-copy">
        {{ currentYear }} &copy; Aleksandar Goševski
    </div>
</header>
