<div class="header">
    <header class="wrapper" role="banner" itemscope itemtype="http://schema.org/WPHeader">
        <h1 class="logo" itemprop="headline"><a href="http://www.goschevski.com">Aleksandar Goševski</a></h1>
        <p class="description" itemprop="description">Front-End Developer based in Belgrade, Serbia.</p>

        <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
            <h2 class="title">Navigation</h2>
            <ul>
                <li><a href="https://github.com/goschevski" itemprop="url">Github</a></li>
                <li><a href="/rss.xml" itemprop="url">RSS</a></li>
            </ul>
        </nav>
    </header>
</div>
