.post {
    h3, h4, h5, h6 {
        font-weight: normal;
        color: $secondary-color;
    }

    h3 { font-size: rem(26px); }
    h4 { font-size: rem(18px); }

    .post-content {
        margin-top: 2em;
        font-size: rem(17px);
        line-height: 1.6;
    }

    blockquote {
        margin: 2em 0;
        padding: 0.3em 2em;
        border-left: 5px solid #f4f4f4;
        font-style: italic;
        color: #ccc;
    }

    p > code {
        font-size: 0.9em;
        color: #999;
        background: #eee;
        padding: 5px;
    }

    .highlight {
        padding: 10px;
        line-height: 1.7;
        font-size: rem(14px);
    }

    .gray {
        display: block;
        color: #ccc;
        font-style: italic;
    }

    .note {
        background: #f4f4f4;
        color: #999;
        padding: 1em;

        &:before {
            content: "Note: ";
            font-weight: bold;
        }
    }
}
