<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Aleksandar Goševski{% if title %} | {{ title }}{% endif %}</title>
        <meta name="description" content="{% if excerpt %}{{ excerpt | stripTags }}{% else %}Thoughts about web development, design, tools, etc.{% endif %}">

        <link rel="stylesheet" href="/style.css?{{ timestamp }}">
    </head>
    <body>
        {% block content %}
        {% endblock %}

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> 
    </body>
</html>
