<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>
        <meta name="description" content="{% if description %}{{ description }}{% elif excerpt %}{{ excerpt }}{% endif %}">

        <!-- smoosh -->
        <link rel="stylesheet" href="style.css">
        <!-- endsmoosh -->
    </head>
    <body>
        {% block header %}
            {% include 'partials/header.html' %}
        {% endblock %}

        <div class="Container">
            {% block content %}
            {% endblock %}
        </div>

        {% block footer %}
            {% include 'partials/footer.html' %}
        {% endblock %}
    </body>
</html>
