<div class="header">
    <header class="wrapper">
        <h1 class="logo"><a href="http://www.goschevski.com">Aleksandar Goševski</a></h1>
        <p class="description">Front-End Developer based in Belgrade, Serbia.</p>

        <nav>
            <h2 class="title">Navigation</h2>
            <ul>
                <li><a href="https://twitter.com/goschevski">Twitter</a></li>
                <li><a href="https://github.com/goschevski">Github</a></li>
                {% for page in site.pages %}
                    {% if page.title %}
                        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
            </ul>
        </nav>
    </header>
</div>
