<header class="header">
    <div class="wrapper">
        <h1><a href="http://www.goschevski.com">Aleksandar Goševski</a></h1>
        <p>Front-End Developer based in Belgrade, Serbia.</p>

        <nav>
            <ul>
                <li><a href="https://twitter.com/goschevski">Twitter</a></li>
                <li><a href="https://github.com/goschevski">Github</a></li>
                <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
            </ul>
        </nav>
    </div>
</header>
