/** @define Header */

.Header {
    text-align: center;
    margin: 20px 0;

    @media (--medium) {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        margin: 0;
        color: white;
        background: url('background.jpg') right center/cover no-repeat;
    }
}

.Header-content {
    @media (--medium) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }
}

.Header-copy {
    display: none;
    margin-bottom: 10px;
    font-family: var(--fontLight);
    font-size: 10px;

    @media (--medium) {
        display: block;
    }
}

.Header-image {
    margin: 0 auto 1.5em auto;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.Header-title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
}

.Header-link {
    color: rgba(0, 0, 0, 0.8);

    @media (--medium) {
        color: white;
    }
}

.Header-description {
    margin: 0 0 1.5em 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--fontLight);
    font-weight: 300;
    letter-spacing: 2px;
}
