/* Lib */
// @import "lib/normalize";
// @import "lib/solarized-dark";

/* Core */
// @import "core/variables";
// @import "core/functions";
// @import "core/placeholders";
// @import "core/mixins";

/* Modules */
// @import "modules/base/base";
// @import "modules/base/typography";
// @import "modules/header/header";
// @import "modules/header/wrapper";
// @import "modules/header/typography";
// @import "modules/header/navigation";
// @import "modules/content/content";
// @import "modules/posts/posts";
// @import "modules/post/post";

body {
    background: #bada55;
    font-style: italic;
    color: red;
}
