html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fontPrimary);
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #333;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    transition: all .4s ease;
    color: var(--mainColor);

    &:hover {
        text-decoration: underline;
    }
}

p {
    line-height: 1.5;
}

p > code.hljs {
    display: inline;
    background: transparent;
}

blockquote {
    border-left: 3px solid #ccc;
    font-style: italic;
    color: #999;
    margin-left: 0;
    padding: 0.1em 0.1em 0.1em 2em;
}

pre {
    font-size: 16px;
}
