:root {
    /* Colors */
    --mainColor: #999;

    /* Fonts */
    --fontPrimary: 'Arvo', Helvetica, sans-serif;

    /* Grid Settings */
    --gridColumnsTotal: 12;
    --containerWidth: 640px;

    /* Typography */
    --fontBaseSize: 16px;
}

/* Media Queries */
@custom-media --small (width >= 480px);
@custom-media --medium (width >= 600px);
@custom-media --large (width >= 900px);
@custom-media --xlarge (width >= 1200px);
