/** @define Footer */

.Footer {
    margin: 2em 0;
    text-align: left;
}

.Footer-copyright {
    font-size: 14px;
    margin-bottom: 0;
    color: #999;
}

.Footer-navigation {
    margin: 0;
    padding: 0;
}

.Footer-navigationItem {
    display: inline-block;

    &:first-child:after {
        content: "\2022";
        display: inline-block;
        margin: 10px;
        color: #999;
    }
}
