/** @define Header */

.Header {
    width: 100%;
    @media (--medium) {
        position: fixed;
    }
}

.Header-content {
    max-width: var(--containerWidth);
    margin: 0 auto;
    padding-top: 2em;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
}

.Header-title {
    margin: 0;
}

.Header-description {
    color: #000;
    margin-top: 5px;
}
