---
layout: default
---
<article class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %Y" }}</time>

    <div class="post-content">
        {{ content }}
    </div>

    <footer class="post-footer">
        <a href="/" class="back">All posts</a>

        <a href="http://www.twitter.com/share?text={{page.title}}&via=goschevski&url={{page.url | prepend: site.url}}" target="_blank" class="tweet">
            Share on Twitter
        </a>
    </footer>
</article>
