html, body {
    box-sizing: border-box;
    font-family: $main-font;
    line-height: $line-height;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img { max-width: 100%; }

time {
    color: #9a9a9a;
    vertical-align: middle;
}

a {
    color: $main-color;
    text-decoration: none;
    transition: 0.2s color;

    &:hover {
        border-bottom: 1px dotted rgba($main-color, 0.5);
    }
}

#skip-to-content {
    @include hide;
    z-index: 100;

    &:focus {
        top: 10px;
        left: 10px;
        color: white;
    }
}
