@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.content {
    animation: fadein 0.2s;

    @include breakpoint('tablet') {
        padding: 0 25px 0 360px;
    }

    @include breakpoint(990px) {
        padding-left: 460px;
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 720px;

        @include breakpoint('tablet') {
            width: auto;
            margin: 0;
        }
    }
}
