.header ul {
    @extend %reset-list;

    li {
        margin-bottom: 5px;
        display: inline-block;
        margin-right: 5px;

        &:before {
            content: "\2022";
            display: inline-block;
            margin-right: 7px;
        }

        &:first-child:before {
            display: none;
        }

        @include breakpoint('tablet') {
            display: block;
            margin-right: 0;

            &:before {
                display: none;
            }
        }
    }

    a {
        display: inline-block;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px dotted white(0.2);
        }
    }
}
