.header {
    .logo {
        margin: 0;

        @include breakpoint(990px) {
            margin-bottom: 1em;
        }

        a {
            color: white;
            font-weight: 700;
            font-size: rem(18px);
            line-height: 1.2;

            &:hover { border: none; }

            @include breakpoint(990px) {
                font-size: rem(36px);
            }
        }
    }

    .description {
        color: white(0.5);
        margin-top: 0;
        margin-bottom: 1em;

        @include breakpoint('tablet') {
            font-size: rem(14px);
        }

        @include breakpoint(990px) {
            font-size: rem(18px);
        }
    }
}
